* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DCDCDC;
}

.title {
    height: 40px;
    margin: 20px 0 10px;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.table {
    border-spacing: 2px;
    background-color: rgb(30, 144, 255);
    ;
}

td {
    width: 100px;
    height: 25px;
    border-spacing: 2px;
    background-color: white;
    font-weight: bold;
    text-align: center;
}


.handlers {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.reverseColumn {
    flex-direction: column-reverse;
}

.forms {
    margin-bottom: 38px;
}

.formsMargins {
    margin-bottom: 0px;
    margin-top: 30px;
}

form {
    padding: 2px;
}

input {
    width: 98px;
    text-align: center;
    border-radius: 5px;
    box-shadow: dodgerblue 0px 0px 2px 1px;
    font-size: 0.85rem;
}


.informUser {
    position: relative;
    min-height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messageArea {
    margin-left: 10px;
    /* margin-bottom: 30px; */
}

.messageMarginOnBottom {
    margin-bottom: 0px;
    /* margin-top: 30px; */
}

div#messageArea, div#messageAreaMin {
    color: dodgerblue;
    font-weight: bold;
    font-size: xx-large;
}


.clock {
    min-width: 100px;
    max-height: 40px;
    margin-right: 10px;
    color: #ffffff;
    opacity: 70%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 10px;
    background: rgb(30, 144, 255);
    box-shadow: dodgerblue 0px 0px 10px 3px;
}

.circle {
    min-height: 100px;
    padding-top: 30px;
    border-radius: 50%;
    /* set background img */
}

.clock__switch {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: 5px;
    background: red;
}


.tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 2px solid rgb(30, 144, 255);
    ;
    border-radius: 5px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}